<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>RFAlignAllTangents.py</string>
			<key>preferredName</key>
			<string>RFAlignAllTangents</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFAlignAllTangentsCurvify.py</string>
			<key>preferredName</key>
			<string>RFAlignAllTangentsCurvify</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFAlignGlyph.py</string>
			<key>preferredName</key>
			<string>RFAlignGlyph</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFAlignSelectedTangents.py</string>
			<key>preferredName</key>
			<string>RFAlignSelectedTangents</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFAlignSelectedTangentsCurvify.py</string>
			<key>preferredName</key>
			<string>RFAlignSelectedTangentsCurvify</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFCleanupAllGlyphContours.py</string>
			<key>preferredName</key>
			<string>RFCleanupAllGlyphContours</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFCleanupSelectedGlyphContours.py</string>
			<key>preferredName</key>
			<string>RFCleanupSelectedGlyphContours</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFMergePointsNotUpdatingControlPoints.py</string>
			<key>preferredName</key>
			<string>RFMergePointsNotUpdatingControlPoints</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFMergePointsUpdatingControlPoints.py</string>
			<key>preferredName</key>
			<string>RFMergePointsUpdatingControlPoints</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>RFSelectEntireContours.py</string>
			<key>preferredName</key>
			<string>RFSelectEntireContours</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Charles Matthew Chen</string>
	<key>developerURL</key>
	<string>https://github.com/charlesmchen/typefacet-robofont</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>TypeFacet-RoboFont</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1338406033.5290289</real>
	<key>version</key>
	<string>1.13</string>
</dict>
</plist>
